
        :root {
            --primaryColor: #E50004;
            --secondaryColor: #E50004;
            --iconColor: #E50004;
            --iconColorOp: #2A6099;
            --iconColorOp2: #2A6099;
        }
        